<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @{
        var FoodList = new List<string>
            {
                "apple Pie",
                "Burritos",
                "Clams Casino",
                "DoNuts",
            };
            
            foreach(var food in FoodList)
            {
                <div>
                    @if(food[0]=='C')//记住不可以用双引号！
                    {
                        <p style="color: red";>@food </p>
                    }
                    else{
                        <p>@food</p>
                    }
                </div>
            }
        
    }
</body>
</html>